html,
body,
#root {
  height: 100%;
  margin: 0;
}

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.layout nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #1e1e1e;
  border-bottom: 1px solid #dddddd;
}

.layout main {
  min-height: 0;
  overflow: hidden;
  display: grid;
}
#amanLogo {
  margin-top: 0.5%;
  box-shadow: 0 4px 16px rgba(0,0,0,0.18); /* הוספת צל */

  height: 90px; /* גובה אחיד */
  width: 90px; /* רוחב אחיד */
  border-radius: 50%; /* עיגול מלא */
  object-fit: cover; /* שמירה על יחס תמונה */
  border: 4px solid #023603; /* מסגרת ירוקה */
  margin-left: 20px; /* מרווח משמאל */
  margin-right: 0; /* אין מרווח מימין */
  float: left; /* מיקום לשמאל */
  display: block;
}

#Logo {
    box-shadow: 0 4px 16px rgba(0,0,0,0.18); /* הוספת צל */

  order: 1;
  margin-top: 0.5%;
  height: 90px; /* גובה אחיד */
  width: 90px; /* רוחב אחיד */
  border-radius: 50%; /* עיגול מלא */
  object-fit: cover; /* שמירה על יחס תמונה */
  border: 4px solid #023603; /* מסגרת ירוקה */
  margin-right: 20px; /* מרווח מימין */
  margin-left: 0; /* אין מרווח משמאל */
  float: right; /* מיקום לימין */
  display: block;
}


#wiewBtn{
  margin-top: 10%;
  margin-left: 20%;
  max-height: min-content;


}
#selectBtn{
  margin-top: 1.5%;
    margin-left: 100%;
    color: #023603;

}