html, body, #root {
  height: 100%;
  margin: 0;
}

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
header{
  /* background-color: rgb(245, 197, 86); */
  border-radius: 5px;
}

.layout nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff;          
  border-bottom: 1px solid #ddd;
}

.layout main {
  min-height: 0;             
  overflow: hidden;           
  display: grid;
}

.layout main > * {
  height: 100%;
}

.leaflet-container {
  height: 100% !important;
  width: 100%;
}
