#root {
  /* background: linear-gradient(135deg, #1d4e64, #0489b5, #2c5364, #00c6ff, #224e85); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
} 




